#checkout{
    padding:10px;
    margin :auto !important;
}
.mainContainer{
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;
    border: 1 1 1 1;
}

.center{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
  }
  .input-half-width{
    width: 90%; 
  }