.input-full-width {
    width: 100%;
  }
  .input-half-width{
    width: 40%; 
  }
.mainContainer{
    margin-left: 2%;
    margin-right: 2%;
}
.left{
    margin-right:0;
}

.checkbox{
    width: 40%; 
}
.centerButton{
  z-index: 1;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.saveButton{
  width: 40%;
}