<div class=" mat-elevation-z8 page_content" id="container">
  <div class="page_title">{{checkin_title}}  </div>
  <!--Checkin-->
    <mat-table class="lessons-table mat-elevation-z8 table-items" [dataSource]="checkinSource"  matSort>
      <ng-container matColumnDef="book_id" >
        <mat-header-cell *matHeaderCellDef [style.display]="'none'">Book Id</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.display]="'none'">{{element.book_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="book_title">
        <mat-header-cell *matHeaderCellDef >Book Title </mat-header-cell>
        <mat-cell *matCellDef="let element " >{{element.book_title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef >User ID</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let element" >{{element.user_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="user_name">
        <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let element">{{element.user_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="checkin_date">
        <mat-header-cell *matHeaderCellDef>CheckIn Date</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let element">{{element.checkin_date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="checkout_date">
        <mat-header-cell *matHeaderCellDef>Checkout Date</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let element">{{element.checkout_date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let row">
          <button class="mat-flat-button mat-primary" (click)="checkout(row)"> Edit </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

      <mat-paginator [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons>
      </mat-paginator>
    </mat-table>

  <!--Checkout records-->
  <div class="page_title">{{checkout_title}}</div>
  <mat-table class="lessons-table mat-elevation-z8 table-items" [dataSource]="checkinSource" matSort>
    <ng-container matColumnDef="book_id" >
      <mat-header-cell *matHeaderCellDef [style.display]="'none'">Book Id</mat-header-cell>
      <mat-cell *matCellDef="let element" [style.display]="'none'">{{element.book_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="book_title">
      <mat-header-cell *matHeaderCellDef >Book Title </mat-header-cell>
      <mat-cell *matCellDef="let element " >{{element.book_title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="user_id">
      <mat-header-cell *matHeaderCellDef >User ID</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let element" >{{element.user_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="user_name">
      <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let element">{{element.user_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkin_date">
      <mat-header-cell *matHeaderCellDef>CheckIn Date</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let element">{{element.checkin_date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkout_date">
      <mat-header-cell *matHeaderCellDef>Checkout Date</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let element">{{element.checkout_date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">
        <button class="mat-flat-button mat-primary" (click)="deleteCheckout(row)"> Checkin </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

    <mat-paginator [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </mat-table>

</div>
