<mat-toolbar class="full-width1">
    <span>Login</span>
 </mat-toolbar>
<mat-card>
  <mat-card-content>
    <form [formGroup]="signInForm" (ngSubmit)="login()">
      <mat-form-field class="input-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" name="username" required formControlName="username">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" name="password" required formControlName="password">
      </mat-form-field>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <mat-error *ngIf="failed"> Login failure, Email does not exist or password wrong!</mat-error>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-flat-button color="primary" (click)="login()" [disabled]="!signInForm.valid">Login</button>
  </mat-card-actions>
</mat-card>