<div mat-dialog-content [formGroup]="editform">

    <mat-form-field>
        <input matInput placeholder="Firstname" formControlName="firstname" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Lastname" formControlName="lastname" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Phone Number" formControlName="phone">
    </mat-form-field>
    <div formGroupName="addressData">
        <p>Address</p>
        <mat-form-field>
            <input matInput placeholder="State" formControlName="state">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ZIP" formControlName="zip">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Street" formControlName="street">
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
    </div>