table {
    width: 90%;
    margin:auto;
  }
  .mat-form-field {
    font-size: 14px;
    width:90%;
    margin:auto;
  }
  
  
  #add{
      margin:10px;
      padding:5px;
      
      /* float:right; */
  }
  .mat-paginator{
    width:90%;
    margin:auto;
  }