<!-- <div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div> -->
<div id="container">
  <div class="mat-elevation-z8">

    <div>

      <button mat-raised-button (click)="addReader()" id="add"> Add reader </button>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="primary" (click)="edit(element)">Edit</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="primary" (click)="delete(element)">Delete</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> First name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>