table {
    width: 100%;
    margin:auto;
  }
  .mat-form-field {
    font-size: 14px;
    float: right;
    margin:10px;
  }
  
  
  #add{
      margin:10px;
      padding:5px;
      background-color:#5b7ca4;
      color:white;
  }
  #add:hover{
    background-color:#335c8e;
  }
  /* .mat-paginator{
    width:90%;
    margin:auto;
  } */