table {
    width: 100%;
    margin:auto;
  }
  .mat-form-field {
    font-size: 14px;
    float: right;
    margin:10px;
  }
  
  
  #add{
      margin:10px;
      padding:5px;
      background-color:#5b7ca4;
      color:white;
  }
  #add:hover{
    background-color:#335c8e;
  }
  .mat-dialog-container .mat-dialog-content { max-height: calc(100vh - 220px) !important; }
.dialog-comp{
  padding:5px;
}
.dialog-button{
  padding:10px !important;
}