
:root{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.page_content{
  padding: 10px;
}
.page_title{
  font-size: 15px;
  font-weight: bold;
}
.search{
  overflow: auto;
}
.mat-form-field {
  float: right;
  margin-right:5%;
}

.error{
  color: red;
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
  padding-right: 40px;
  margin-bottom: 0px;

}
.table-items {
  width: 100%;
  margin:auto;

 }
.button_group {
  float: right;
  padding-top: 10px;
}

.book_copies{
  margin-top: 10px;
  width: 90%;
  float: right;
  clear-after: bottom;
}

.action{
  width: 30%;
}
.isbn{
  width: 10%;

}
.title{
  width: 40%;
}
.author{
  width: 20%;
}
.mat-header-cell{
  font-weight: bold;
  font-size: 13px;
}
