
    <div class="search">
      <mat-form-field>
        <input class="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <div class= "mat-elevation-z8 " id="container" >
      <table mat-table class="table-items" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="action">
          <th mat-header-cell class="action" *matHeaderCellDef>
            <button class="mat-flat-button mat-primary" (click)="processRequest('new', null)"> New  </button>

          </th>
          <td mat-cell class="action"  *matCellDef="let row">
            <button class="mat-flat-button mat-primary"  [disabled] ="getStatus('view', row)" (click)="processRequest('view',row)"> View </button>
            <button class="mat-flat-button mat-primary" [disabled] ="getStatus('edit', row)" (click)="processRequest('edit', row)"> Edit  </button>
            <button class="mat-flat-button mat-primary" [disabled] ="getStatus('delete', row)"  (click)="onDelete(row)"> Delete </button>
          </td>
        </ng-container>
          <ng-container matColumnDef="book_id">
            <th mat-header-cell class="book_id" header-cell [style.display]="'none'" *matHeaderCellDef>Id </th>
            <td mat-cell class="book_id" mat-cell [style.display]="'none'" *matCellDef="let element" >{{element.book_id}}</td>
          </ng-container>
        <ng-container matColumnDef="isbn" >
          <th mat-header-cell class="isbn" header-cell *matHeaderCellDef mat-sort-header>ISBN</th>
          <td mat-cell class="isbn" mat-cell *matCellDef="let element">{{element.isbn}}</td>
        </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell class="title" header-cell *matHeaderCellDef mat-sort-header>Title </th>
            <td mat-cell class="title" mat-cell *matCellDef="let element " >{{element.title}}</td>
          </ng-container>

          <ng-container matColumnDef="author" >
            <th mat-header-cell class="author" header-cell *matHeaderCellDef mat-sort-header>Author</th>
            <td mat-cell class="author" mat-cell  *matCellDef="let element">{{element.author}}</td>
          </ng-container>


        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      </table>
      <mat-paginator [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons>
      </mat-paginator>


     </div>


